

.search-box {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.search-box input {
    padding: 12px;
    width: 250px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
}

.search-box button {
    padding: 12px 18px;
    border: none;
    border-radius: 10px;
    background-color: #3b82f6;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.search-box button:hover {
    transform: scale(1.05);
}