.footer-section {
    background-color: #111827;
    padding: 60px 40px;
}

.footer {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    flex-wrap: wrap;
}

.footer-logo h2 {
    color: #f5ebe0;
    margin-bottom: 15px;

    font-size: 28px;
}

.footer-logo p {
    color: #d6c6b8;

    max-width: 300px;
    line-height: 1.6;
}

.footer-links h3,
.footer-socials h3 {
    color: #f5ebe0;
    margin-bottom: 20px;
}

.footer-links ul,
.footer-socials ul {
    list-style: none;
}

.footer-links ul li,
.footer-socials ul li {
    margin-bottom: 12px;
}

.footer-links ul li a,
.footer-socials ul li a {
    text-decoration: none;
    color: #d6c6b8;

    transition: color 0.3s ease;
}

.footer-links ul li a:hover,
.footer-socials ul li a:hover {
    color: #c97b36;
}