.cart-info {
    margin-bottom: 10px;
}

.search-box input {
    padding: 10px;
    width: 300px;
}


.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box input {
  padding: 10px;
  width: 250px;
}

.cart-info h2 {
  margin-bottom: 15px;
}